/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  
//   -----------------------------------------------------
#main-nav {
  a {
    padding:6px;
    font-weight: bold;
  }
}

main {
  text-align: center;
  max-width: 1000px;
  padding: 12px;
  margin: 0 auto;
  margin-bottom: 100px;

  h1 {
    padding: 24px 12px;
  }

  .page-banner {
    position: relative;
    text-align: center;
    color: #000;
    background-color: #FFF;

    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #FFF;
      width:100%;
    }
  }

  .event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 12px;
  }

  #event-form {
    max-width:700px;
    margin: 0 auto;
  }

  .signup-button {
    justify-content: center;
  }
}